codes_git
*-eps-converted-to.pdf
auto
MT_scheduling.aux
MT_scheduling.bbl
MT_scheduling.blg
MT_scheduling.log
MT_scheduling.out
MT_scheduling.pdf
MT_scheduling.spl
MT_scheduling.synctex.gz
*~
*log
ejemplos
_region_*